body{
  background: #EFEFEF;
  margin: 0;
}
a{
  color: inherit;
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
}
hr {
  height: 0;
  border: none;
  border-top: 1px solid #DEDEDE;
}
ul,ol {
  list-style: none;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}
.clearfix::after{
  content: '';
  display: block;
  clear: both;
}
/*上面不要看*/
.topNavBar {
  padding: 20px 0px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.topNavBardiv {
  padding: 0 16px;
}
.topNavBar nav {
  padding-top: 7px;
}
.topNavBar nav >ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.topNavBar nav > ul > li {
  float: left;
  margin-left: 17px;
  margin-right: 17px;
}
.topNavBar nav > ul > li > a {
  font-size: 12px;
  color:  #b7b7b7;
  font-weight: bold;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
}
.topNavBar nav > ul > li > a:hover {
  border-bottom: 3px solid #e06567;
}
.topNavBar .logo {
  font-family: 'Arial Black';
  font-size: 24px;
  padding-top: 3px;
  padding-bottom: 4px;
}
.topNavBar .logo .rs{
  color: #e6686a;
  margin-right: 4px;
}
.topNavBar .logo .card{
  color: #9A9DA2;
}
.banner {
  height: 515px;
  background-image: url(../images/bg.jpg);
  background-position: center center;
  background-size: cover;
}
.banner .mask {
  height: 515px;
  background-color: rgba(0, 0, 0, 0.3);
}
.usercard {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
}
.usercard .welcome {
  background: #E6686A;
  color: white;
  display: inline-block;
  padding: 4px 16px;
  line-height: 22px;
  position: relative;
}
.usercard .welcome .triangle {
  display: inline-block;
  border: 10px solid transparent;
  width: 0;
  border-left-color: #E6686A;
  border-top-width: 0px;
  position: absolute;
  left: 4px;
  top: 100%;
}
.usercard .picture {
  float: left;
}
.usercard .text {
  float: left;
  margin-left: 65px;
  width: 470px;
}
.usercard .text h1 {
  margin-top: 28px;
}
.usercard .text p {
  margin-top: 8px;
}
.usercard .text hr {
  margin: 20px 0px;
}
.usercard .pictureAndText {
  padding: 50px;
}
.usercard dl dt,
.usercard dl dd {
  float: left;
  padding: 5px 0;
}
.usercard dl dt {
  width: 25%;
  font-weight: bold;
}
.usercard dl dd {
  width: 75%;
  color: #9DA0A7;
}
.usercard > footer.media {
  background: #E6686A;
  text-align: center;
  fill: white;
}
.usercard > footer.media > a {
  display: inline-block;
  border-radius: 50%;
  line-height: 30px;
  padding: 5px 0px;
  width: 40px;
  margin: 16px;
}
.usercard > footer.media > a:hover {
  background: #CF5D5F;
}
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.usercard svg {
  width: 30px;
  height: 30px;
  fill: white;
  vertical-align: top;
}
body > main {
  margin-top: -345px;
}
body > main .downloadResume {
  font-size: 14px;
  line-height: 16px;
  padding: 21px 55px;
  display: inline-block;
  border: 1px solid #CDCFD1;
  background-color: #EFEFEF;
  border-radius:5px;
  color: #3D4451;
  font-weight: bold;
  margin: 30px 0;
  transition: box-shadow 0.3s;
}
body > main .downloadResume:hover {
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
}
body > main .downloadResume-wrappar {
  text-align: center;
}
.selfResume {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: Open Sans;
}
section.skills,
section.portfolio {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}
section.skills > h2,
section.portfolio > h2 {
  text-align: center;
  color: #3D4451;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 600;
}
section.skills > ol {
  background: white;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
  padding: 42px 50px 10px;
  margin-top: 30px;
}
section.skills > ol > li {
  float: left;
  width: 48%;
  box-sizing: border-box;
}
section.skills > ol > li:nth-child(even) {
  float: right;
}
section.skills .progressBar {
  height: 5px;
  background: #FAE1E1;
  border-radius: 2px;
  margin: 4px 0px 40px;
}
section.skills .progressBar > .progress {
  height: 100%;
  background: #E6686A;
  width: 70%;
  border-radius: 2px;
}
section.portfolio {
  text-align: center;
}
section.portfolio > nav {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin-top: 32px;
  margin-bottom: 28px;
}
section.portfolio > nav > ol {
  margin: 0 auto;
  display: inline-block;
  vertical-align: top;
}
section.portfolio > nav > ol > li{
  float: left;
  margin-left: 40px;
  cursor: pointer;
}
section.portfolio > nav > ol > li:first-child{
  margin-left: 0px;
}
section.portfolio > nav .selectBar {
  height: 5px;
  background: white;
  margin-top: 5px;
  border-radius: 2px;
}
section.portfolio > nav .selectBar-inner {
  height: 100%;
  background: #E6686A;
  width: 10%;
  border-radius: 2px;
  transition: all 0.4s;
}
section.portfolio > nav .selectBar.state1 .selectBar-inner  {
  margin-left: 0;
  width: 35px;
}
section.portfolio > nav .selectBar.state2 .selectBar-inner  {
  margin-left: 65px;
  width: 45px;
}
section.portfolio > nav .selectBar.state3 .selectBar-inner  {
  margin-left: 140px;
  width: 96px;
}
section.portfolio .works {
  position: relative;
  height: 569px;
}
section.portfolio .works > div{
  position: absolute;
}